<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greetings | Madlibs!</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <form action='/madlib'>
      <label for="name-input">Name</label>
      <input id="name-input" type="text" name="name" />

      <label for="color-input">Color</label>
      <input id="color-input" type="text" name="color" />

      <label for="noun-input">Noun</label>
      <input id="noun-input" type="text" name="noun" />

      <label for="adjective-input">Adjective</label>
      <input id="adjective-input" type="text" name="adjective" />

      <button type="submit">Say Hello</button>
    </form>
  </body>

</html>